.sidenavButton {
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 20px;
  min-width: 80%;
  max-width: 80%;
  text-align: start;
}

.toolbarButton {
  max-height: 35px;
  margin-top: 4px;
}

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  background-color: lightblue;
  height: 45px;
}

.example-sidenav {
  display: flex;
  padding: 5px 20px 20px 20px;
  background-color: lightblue;
}

.example-body {
  min-width: 100%;
  min-height: 100%;
}
