<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">

    <h2 style="text-align: center; font-weight: bolder; margin-bottom: 32px; margin-top: 2px;">{{title}}</h2>

    <button routerLink="/" mat-raised-button class="sidenavButton" color="primary">
      <mat-icon>public</mat-icon>Tournaments
    </button>

    <button mat-raised-button class="sidenavButton" color="primary"><mat-icon>person_pin</mat-icon>My tournaments</button>

    <button routerLink="/Settings" mat-raised-button
    class="sidenavButton" color="primary"><mat-icon>settings</mat-icon>Settings</button>
  </mat-drawer>

  <div class="example-sidenav-content" style="display: flex; justify-content: space-between;">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>

    <button matTooltip="Press to logout" mat-raised-button (click)="Logout()" class="toolbarButton"
      style="margin-right: 5px;" color="warn">
      <mat-icon>logout</mat-icon>Logout
    </button>

    <button matTooltip="Press to login" mat-raised-button class="toolbarButton"
      style="margin-right: 18px;" color="primary">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </div>

  <router-outlet>
  </router-outlet>

</mat-drawer-container>
